body{
    background-color: rgb(248, 3, 3);
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/10/Wallpapers-Cabinet-HD-Free.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    color: rgb(6, 2, 2);

    font-family: 'Source Sans Pro', sans-serif;

}

header{
    background-color: rgba(0, 0, 0, 0.39);
    text-align: center;
    height: 14vh;
}

header h1{
    color: #cc000a;
    background-color: rgba(0, 0, 0, 0.151);
    /* font-family: 'Tilt Prism', cursive; */
    font-family: 'Great Vibes', cursive;
    font-size: 6vmin;
    margin: 1vmin;

}
header h2{
    color: white;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
}

#search{
    margin-top: 0.5vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    border: 4px solid white;
    width: 50vw;
    height: vh;
}

#searchBtn{
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    height: 2.5vh;
    border: 2px solid #626569;

}

#main{
    display: flex;
    flex-direction: row;
}
.card {
  color: #fff;
  background-color:#696969
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 900px;
  margin: 40px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-info {
  padding: 20px;
  text-align: center;
}

.card-info h2 {
  margin-top: 0;
}

.card-info p {
  margin-bottom: 20px;
}

.card-info a {
  color: #fff;
  background-color:#696969
  border-radius: 5px;
  padding: 10px 20px;
}
